    <!-- Manifest -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Icons -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='brand/logo-master-round.svg') }}">
    <link rel="alternate icon" href="{{ url_for('static', filename='favicon.6d319de4.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/pwa/icon-16.498c3d3b.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/pwa/icon-32.fc5d4966.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/pwa/icon-192.ee7f0987.png') }}">
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='img/pwa/icon-512.21a600c7.png') }}">

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/pwa/apple-touch-icon-180.8b095258.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ url_for('static', filename='img/pwa/apple-touch-icon-167.5c73f892.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/pwa/apple-touch-icon-152.8e3cd071.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/pwa/apple-touch-icon-120.91482342.png') }}">

    <!-- Splash Screens (iOS) -->
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-640x1136.0905100a.png') }}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-750x1334.2f203bcb.png') }}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1242x2208.a5161c83.png') }}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1125x2436.ad53ee81.png') }}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-828x1792.a5161c83.png') }}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1080x2340.fc19a065.png') }}" media="(device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1170x2532.7cdf1bee.png') }}" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1284x2778.6b83d7f0.png') }}" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1290x2796.b1fbf169.png') }}" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1179x2556.7f002aea.png') }}" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1536x2048.a34a9b07.png') }}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1620x2160.4030f8f1.png') }}" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1640x2360.84e744a1.png') }}" media="(device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-1668x2388.ac2cc977.png') }}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='img/pwa/splash/splash-2048x2732.88abdf66.png') }}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)">
