    <!-- PWA Meta -->
    <meta name="theme-color" content="#1b232e">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Gourmen">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="msapplication-TileColor" content="#1b232e">
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="description" content="Gourmen-Verein Webapp - Verwaltung und Organisation">
    <meta name="keywords" content="Gourmen, Verein, Events, GGL, BillBro">
    <meta name="author" content="Gourmen Verein">
