{% from 'partials/_lucide_icon.html' import lucide_icon %}
<section class="landing-instagram" aria-labelledby="landing-instagram-heading">
    <h2 id="landing-instagram-heading" class="landing-section-title">
        {{ lucide_icon('instagram') }}
        Vom Tisch
    </h2>
    <div class="landing-instagram__grid">
        <div class="landing-instagram__embed">
            <blockquote class="instagram-media"
                        data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/reel/DYPHDjbsC5i/"
                        data-instgrm-version="14">
                <a href="https://www.instagram.com/reel/DYPHDjbsC5i/" target="_blank" rel="noopener noreferrer">
                    Gourmen auf Instagram – Reel ansehen
                </a>
            </blockquote>
        </div>
        <div class="landing-instagram__embed">
            <blockquote class="instagram-media"
                        data-instgrm-captioned
                        data-instgrm-permalink="https://www.instagram.com/p/DQ6j4-2DMDg/"
                        data-instgrm-version="14">
                <a href="https://www.instagram.com/p/DQ6j4-2DMDg/" target="_blank" rel="noopener noreferrer">
                    Gourmen auf Instagram – Beitrag ansehen
                </a>
            </blockquote>
        </div>
    </div>
</section>
